
.circle {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: coral;
}

.radio-input:checked + .circle {
  background-color: coral;
}